.cartEmpty{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex: 1;
   margin: 100px 0;
}

.img {
   margin-bottom: 20px;
}

.text {
   text-align: center;
   margin-bottom: 20px;
   font-weight: 400;
font-size: 16px;
line-height: 24px;
opacity: 0.6;
}

.title {
   font-size: 24;
   font-weight: 900;
   padding-bottom: 20px;
}

.greenButton {
   margin: 20px 0;
   padding: 20px;
   width: 250px;
   color: #fff;
   font-weight: 600;
   background: #9DD558;
   border-radius: 18px;
   font-size: 16px;
   &:hover{
      transition: 0.2s;
      background: #6a9c2d;
   }
}