.content {
   padding: 40px;

   @media (max-width:1078px) {
      padding: 40px;
   }

   @media (max-width:820px) {
      padding: 60px;
   }



   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width:820px) {
         flex-direction: column;

      }

      img {
         margin-right: 14px;
      }

      .search {
         width: 250px;
         border: 1px solid #F3F3F3;
         border-radius: 10px;
         padding: 10px;
         margin-bottom: 20px;
      }
   }

   .items {
      display: flex;
      flex-wrap: wrap;

      gap: 40px;

      @media (max-width:1078px) {
         gap: 40px
      }

      @media (max-width:910px) {
         gap: 60px;
      }

      @media (max-width:820px) {
         justify-content: space-between;
         gap: 0;

      }

      @media (max-width:570px) {
         justify-content: center;

      }
   }

   h1 {
      padding: 20px;
      font-weight: 700;
      font-size: 32px;
   }


}