.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0, 0.5);
   z-index: 1;
   
}

.drawer {
   position: absolute;
   width: 385px;
   margin: 0 auto;
   right: 0;
   height: 100%;
   background: #FFFFFF;
   padding: 30px;
   display: flex;
   flex-direction: column;
 

   .drawerHeader{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
   }
   h2{
      margin: 0;
      font-weight: 700;
      font-size: 24px;
   }

   .items {
      max-height: 100%;
      overflow: hidden;
      overflow-y: scroll;
   }
   
   
   .total {
      position: absolute;
      bottom: 30px;
      width: 325px;
      margin: 0 auto;
      
     
      button {
         margin: 20px 0;
         padding: 10px;
         width: 100%;
         color: #fff;
         font-weight: 600;
         background: #9DD558;
         border-radius: 18px;
         font-size: 16px;

         &:hover{
            transition: 0.2s;
            background: #6a9c2d;
         }
          &:disabled{
      background-color: #bebebe;
      cursor: default;
      animation: button-loading 0.8s ease-in-out infinite;
   }
         
   }

      .price {
         display: flex;
         justify-content: space-between;
         margin: 0 0 20px 0;
         align-items: flex-end;
      }
      .tax {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
      }
      div {
         flex: 1;
         height: 1px;
         border-bottom: 1px dashed #dfdfdf;
         position: relative;
         top: -3px;
         margin: 0 7px;
      }
      
   }
}

.drawerContainer {
   display: flex;
   flex-direction: column;
  
}

@keyframes button-loading {
   0%{
      opacity: 1;
   }
   50%{
      opacity: 0.7;
   }
   100%{
      opacity: 1;
   }
}


